<html>
<head>
    <title>Home</title>
    <link rel="icon" href="/img/favicon.png"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>Find out the weather in your area.</p>
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
</div>
{{>footer}}

<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>

